.employ{
    padding: 0 15px 116px 15px;
}
.employ__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    color: #363738;
    margin-bottom: 32px;
}
.employ__item{
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-left: 20px solid #0B7572;
    padding: 24px 21px 32px 36px;
    display: flex;
    gap: 16px;
    align-items: center;
    &:not(:last-child){
        margin-bottom: 14px;
    }
}
.employ__item_1{
    display: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-left: 20px solid #0B7572;
    padding: 24px 21px 32px 36px;
    display: flex;
    gap: 16px;
    align-items: center;
    &:not(:last-child){
        margin-bottom: 14px;
    }
}
.employ__item_2{
    display: none;
}
.employ__img{
    width: 100px;
    height: 100px;
}
.employ__sub_title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #363738;
    margin-bottom: 10px;
}
.employ__text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6b6b6c;
    &::after{
        content: "";
        width: 88px;
        height: 0;
        display: block;
        border: 2px solid #ffce50;
        margin-top: 14px;
    }
}
.employ__icon_list{
    display: flex;
    gap: 20px;
    margin-top: 23px;
}
@media screen and (min-width: 768px) {
    .employ{
        padding: 0 59px 82px 19px;
    }
    .employ__title{
        font-size: 44px;
        margin-bottom: 56px;
    }
    .employ__list{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        max-width: 768px;
        row-gap: 24px;
    }
    .employ__item{
        display: inline-block;
        border-left: 30px solid #0B7572;
        padding: 24px 80px 32px 40px;
        &:not(:last-child){
            margin: 0;
        }
    }
    .employ__item_1{
        display: inline-block;
        border-left: 30px solid #0B7572;
        padding: 24px 55px 32px 40px;
        &:not(:last-child){
            margin: 0;
        }
    }
    .employ__sub_title{
        font-size: 20px;
        margin-top: 16px;
    }
}
@media screen and (min-width: 992px) {
    .employ{
        padding: 0 100px 130px 100px;
    }
    .employ__item{
        padding: 32px 83px 40px 70px;
    }
    .employ__item_1{
        padding: 32px 83px 40px 70px;
    }
    .employ__sub_block{
        width: 175px;
    }

}
@media screen and (min-width: 1440px) {
    .employ{
        padding: 0 100px 130px 100px;
    }
    .employ__title{
        font-size: 48px;
        margin-bottom: 72px;
    }
    .employ__list{
        max-width: 1300px;
    }
    .employ__item{
        display: flex;
        gap: 40px;
        border-left: 51px solid #0B7572;
        padding: 32px 170px 40px 83px;
        &:not(:last-child){
            margin: 0;
        }

    }
    .employ__item_1{
        display: flex;
        gap: 40px;
        border-left: 51px solid #0B7572;
        padding: 32px 170px 40px 83px;
        &:not(:last-child){
            margin: 0;
        }
    }
    .employ__item_2{
        border-radius: 10px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        border-left: 51px solid #0B7572;
        padding: 32px 170px 40px 83px;
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .employ__sub_block{
        width: 175px;
    }
}
